.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 29px;
  margin-left: 144px;
}
.header__logo-wrapper {
}
.header__logo-img {
}
.header__ssilka {
}
.header__menu {
}
.header__spisok {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-right: 159px;
}
.header__li > a {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}
.header__ssilka1 {
}
.header__ssilka2 {
}
.header__ssilka3 {
}
.header__ssilka4 {
}
.foto1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -72px;
  /* margin-left: 144px; */
  background: linear-gradient(
      287.15deg,
      #450e4b 0%,
      #3c0c41 24.48%,
      rgba(207, 0, 99, 0) 100%
    ),
    #cf0063;
  padding: 0;
}
.foto1__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 144px;
}
.foto1__big {
  margin-top: 298px;
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  color: #ffffff;
}
.foto1__small {
  margin-top: 10px;
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #ffffff;
  min-width: 677px;
}
.block {
  height: 66px;
  width: 170px;
  margin-top: 45px;
  background: #fc0a7e;
  border-color: #fc0a7e;
  border-radius: 3px;
  line-height: 66px;
}
.block-text {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.foto1__foto {
}
.foto1__ris {
  margin-top: 120px;
  margin-left: -54px;
}
.foto1__strela {
  margin-top: -60px;
  margin-left: -100px;
  margin-bottom: 30px;
}
